<div class="container text-center">
    <img class="pt-5" src={{imageUrl}} alt="Avatar" width="12%">
        
    <h3 class="pt-4">Username: {{username}}</h3>
    <h3>Email: {{email}}</h3>
    <h3>Signed up: {{signup}}</h3>
    <h3>Language: {{language}}</h3>
    <h3>Difficulty: {{difficulty}}</h3>
    <h3>Topic: {{topic}}</h3>
    <br>
    <a href="/profile/edit"><button type="button" class="btn btn-primary">Edit Profile</button></a>
    <a class="btn btn-primary btn-circle btn-circle-lg m-1" href="/" ><i class="fa fa-home"></i></a>  
</div>
